#root {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

nav button {
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0) /*rgba(0, 0, 0, 0.3)*/;
  border-radius: 0.2em;
  background-color: transparent;
  cursor: pointer;
  transition:
    opacity 0.3s ease-out,
    color 0.3s ease-out,
    border-color 0.3s ease-out;
}

nav button:hover {
  opacity: 0.6;
  color: red;
  /* background-color: red; */
  border: 2px solid rgba(255, 255, 255, 1) /*rgba(0, 0, 0, 0.3)*/;
  border-color: rgba(0, 0, 0, 0.3) /*rgba(255, 255, 255, 1)*/;
}

.homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-image: url("/images/christos.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; /* ensure stays behind content */
}
