.events-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%; /* TODO: fix this hack, i don't know why bg doesn't fill viewport */
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1; /* ensure stays behind content */
}
